@import url('../index.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply bg-white bg-opacity-5 rounded-lg shadow-md p-4;
}

.minimal-input {
    @apply bg-white bg-opacity-5 rounded-lg shadow-md p-4;
}

.minimal-input-compact {
    @apply bg-white bg-opacity-5 rounded-lg shadow-md p-4 h-10 text-sm;
}

.minimal-button {
    @apply bg-white bg-opacity-5 rounded-lg shadow-md p-4;
}

.hover-highlight {
    @apply hover:bg-white hover:bg-opacity-10 hover:shadow-lg transition-all duration-300;
}

.hover-outline {
    @apply border-2 border-white border-opacity-0 hover:border-opacity-25 transition-all duration-500;
}

.highlight-red-outline {
  @apply border-2 border-red-400 border-opacity-15;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 7px;
  bottom: 7px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1f85e2;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dashboard-component-page {
  @apply max-w-screen-2xl w-screen card;
}